@model BetaAirlinesMVC.ViewModel.UserLoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_BetaAirlinesLayout.cshtml";
}
<h1 class="text-light mt-5" style="visibility:hidden">Login</h1>
@using (Html.BeginForm("Login", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "forms" }))
{
    @Html.AntiForgeryToken()
    <h3 class="text-primary">Login Page</h3>
    <div class="form-horizontal">
        <span class="text-dark">Username: Admin   |</span>
        <span class="text-dark">Pasword: admin</span>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group text-danger">@ViewBag.Message</div>

        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </div>
}

<h1 class="text-light mt-3" style="visibility:hidden">Login</h1>

<style>
    /* Custom CSS for login form */
    .forms {
        margin: auto;
        width: 50%;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

        .forms hr {
            border-top: 1px solid #ddd;
        }

    .form-horizontal .form-group {
        margin-bottom: 15px;
    }

    .form-horizontal .control-label {
        padding-top: 7px;
    }
</style>
